<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename = 'main.css')}}">
    <script type="text/javascript" scr="{{url_for('static',filename='app.js')}}"></script>
    <title>JavaScript Events</title>
      
    <h1>Wellcom JavaScript Events App</h1>

<p>====================================================</p>

<a href="{{ url_for('my_view.admin')}}">Admin</a><br>
<a href="{{ url_for('my_view.index')}}">Return to Index</a><br>
<a href="{{ url_for('my_view.index')}}">Home</a><br>
<a href="{{ url_for('my_view.page1')}}">Visit Page1</a><br>
<a href="{{ url_for('my_view.page2')}}">Visit Page2</a><br>
<a href="{{ url_for('my_view.page3')}}">Visit Page3</a><br>
<a href="{{ url_for('my_view.page4')}}">Visit Page4</a><br>
<a href="{{ url_for('my_view.page5')}}">Visit Page5</a><br>

<p>====================================================</p>

</head>

  <body>

  {% block content %}


  {% endblock %}

  </body>
</html>

