
{% extends 'base.html' %}

<title>Tarig Flask App - ABOUT Page</title>

{% block content %}
<h1>My Tarig Flask App About Page</h1>
<h2> ...This is About page from Tarig Web-pages app ....!!!</h2>
<p>Read here=> about Tarig Flask App.</p> 

<a href="{{ url_for('my_view.index')}}">Return to Index</a><br>
<a href="{{ url_for('my_view.home')}}">Wellcome Home</a><br>
<a href="{{ url_for('my_view.portfolio')}}">Visit Portfolio</a><br>
<a href="{{ url_for('my_view.services')}}">Explor Services</a><br>
<a href="{{ url_for('my_view.tarig')}}">Click to Tarig</a><br>
<a href="{{ url_for('my_view.help')}}">Find Help</a><br>
<a href="{{ url_for('my_view.login')}}">Click to Login / Sign in</a><br>
<a href="{{ url_for('my_view.contact')}}">Contact US</a><br>
<a href="{{ url_for('my_view.about')}}">About Tarig App</a><br>

{% endblock %}

