





{% extends 'base.html' %}


{% block content %}
<title>Tarig Flask App - ABOUT Page</title>
<h1>My Tarig Flask App Help Page</h1>
<h2> ...This is Help page from Tarig Web-pages app ....!!!</h2>
<p>Browse here=> to find Help.</p> 

<a href="{{ url_for('my_view.index')}}">Return to Index</a><br>
<a href="{{ url_for('my_view.home')}}">Wellcome Home</a><br>
<a href="{{ url_for('my_view.portfolio')}}">Visit Portfolio</a><br>
<a href="{{ url_for('my_view.services')}}">Explor Services</a><br>
<a href="{{ url_for('my_view.tarig')}}">Click to Tarig</a><br>
<a href="{{ url_for('my_view.help')}}">Find Help</a><br>
<a href="{{ url_for('my_view.login')}}">Click to Login / Sign in</a><br>
<a href="{{ url_for('my_view.contact')}}">Contact US</a><br>
<a href="{{ url_for('my_view.about')}}">About Tarig App</a><br>

{% endblock %}
